<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Connect MySQL DB App</title>
<!-- CSS -->
<link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
	<h1><%= title %></h1>
	<%= new Date() %>

	<br>
	<br>
	<table border="2" class="table table-striped">
		<tr>

			<th>Date (YYYY-MON)</th>
			<th>TransctionCount</th>
		</tr>
		<tbody>

			<% for (var i=0; i<bankTransctionList.length; i++) { %>
			<tr>
				<td><%= bankTransctionList[i].transctionYearMonth %></td>
				<td><%= bankTransctionList[i].transctionCount %></td>
			
			<% } %> 
		</tbody>
	</table>
	
	<br>
	<br>  
	
	
</body>
</html>